h1 {
    text-align: center;
    padding: 0.5em 0.6em;
    opacity: .7;
    background-color: black;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
}

body {
    background: url('../images/hello.jpg');
    text-align: center;
}

form {
    width: 50%;
    border: 3px solid ;
    padding: 10px;
    margin: auto;
    background-color: white;
}

.results {
    width: 50%;
    border: 3px solid ;
    padding: 10px;
    margin: auto;
    background-color: white;
}

footer {
    font-size: 12px;
}